html{
  font-size: 0.1rem;
}
body {
  // min-width: 1440px;
}
.flex {
  display: flex;
}
.flexw {
  flex-wrap: wrap;
}
.flexl {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fleximg {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}
.flexb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pointer{
  cursor: pointer;
}


.container {
  box-sizing: border-box;
  .banner {
    width: 3.75rem;
    height: 1.60rem;
  }
  .container-box {
    background: #F6F6F6;
    padding: 0 0.15rem;
    .card {
      width: 100%;
      background: #FFFFFF;
      padding: 0.15rem;
      border-radius: 0.06rem;
      margin-bottom: 0.15rem;

      .module-title {
        font-size: 0.17rem;
        font-family: PingFang SC-Bold, PingFang SC;
        font-weight: bold;
        color: #333333;
      }
    }
  }
}
.tabel-header {
  height: 36px;
  & > th {
    background: #ededed !important;
  }
  .cell {
    font-size: 14px;
    font-weight: 600;
    color: #666666;
  }
}
